* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

main {
    height: 80vh;
    width: 100vw;
    display: flex;
    background: rgb(217, 138, 199);
}

header {
    height: 10vh;
    width: 100vw;
    background-color: #3498db;
    display: flex;
    border-bottom: 1px solid #2980b9;
    border-top: 1px solid #2980b9;
    z-index: 1;

    >.nav_bar {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: evil-empire, sans-serif;
        font-size: 500%;
        letter-spacing: 20px;
        z-index: 1;

        >i {
            font-size: 70%;
        }
    }
}

.jumbo {
    height: 10vh;

    >button {
        height: 90%;
        width: 20%;
    }
}

.container {
    width: 80%;
    display: flex;
    height: 80%;
    align-items: center;
}

#card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 16px;
    height: 100%;
        ul {
                max-height: 100%;
            }
}

li {
    background-color: #3498db;
    max-height: calc(100%/6);
    aspect-ratio: 1;
    border: 2px solid #2980b9;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;

    >img {
        max-width: 95%;
        max-height: 95%;
        object-fit: contain;
    }
}

#card-list>li:hover {
    transform: scale(1.1);
}

.rating {
    width: 25%;
    height: 80%;
    background-color: #3498db;
    border: 2px solid #2980b9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: evil-empire, sans-serif;
    font-size: 100%;

    >.title {
        width: 100%;
        text-align: center;
        font-size: 400%;
    }

    >.errors_container {
        max-width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        font-size: 300%;
        justify-content: start;

    }
}


.hidden_card {
    img {
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
}

.show {
    visibility: visible;
    opacity: 1;
}

.error {
    background-color: rgba(207, 45, 45, 0.806);
}

.goal {
    background-color: rgba(17, 128, 17, 0.666);
}

@font-face {
    font-family: evil-empire;
    src: url(./font/Evil\ Empire.otf);
}

.text_shadow {
    color: fuchsia;
    text-shadow: 2px 2px 4px fuchsia;
}



/*MODALE*/
.modal_success {
    display: none;
}

.show_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 192, 203, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal_content {
    background-color: #297fb9e0;
    width: 90vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 15vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1000;

    .winner {
        z-index: 1000;
    }

    .star {
        position: absolute;
        font-size: 5vw;
        border-radius: 50%;
        color: #3498db;
        text-shadow: 2px 2px 4px #13639978;
        z-index: 998;
    }
}


.animated-background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, fuchsia, rgba(255, 192, 203, 0.1));
    animation: changeColor 5s infinite alternate;

    background-size: 400% 400%;
    /* Dimensioni del gradiente */
}

/* Animazione per cambiare colore */
@keyframes changeColor {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}